
    {% for trip in trips %}
        <tr>
            <td>{{ trip.id }}</td>
            <td>{{ trip.region.name }}</td>
            <td>{{ trip.courier.name }}</td>
            <td>{{ trip.beginDate|date('d-m-Y') }}</td>
            <td>{{ trip.endDate|date('d-m-Y') }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="text-center">Нет данных для отображения</td>
        </tr>
    {% endfor %}
